@model Project.Models.Trainer


<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.name)</b></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="input name">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.type)</b></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="External or Internal">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.workplace)</b></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="input trainer working place">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.phonenumber)</b></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="input trainer phone number">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.email)</b></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

@*<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>*@
