@model Project.Models.CustomUser
@{
    ViewBag.Title = "UpdateTrainerAcc";
    Layout = "~/Views/Shared/FormHome.cshtml";
}

<div class="style">
    <h1 class="display-2" align="center">Update Profile</h1>

    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "Error", new { @class = "text-danger" })
    }

    @using (Html.BeginForm(FormMethod.Post))
    {

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.name)</b></label>
            @Html.EditorFor(m => m.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainer's name" } })
        </div>


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.type)</b></label>
            @Html.DropDownList("Type", new List<SelectListItem>
            {
            new SelectListItem{Text= "External"},
            new SelectListItem{Text="Internal"}
            },
            new { @class = "custom-select d-block w-100" })
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.workplace)</b></label>
            @Html.EditorFor(m => m.workplace, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainer's workplace" } })
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.PhoneNumber)</b></label>
            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainer's phone number" } })
        </div>




        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", Type = "hidden" } })
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", Type = "hidden" } })
        @Html.EditorFor(m => m.PasswordHash, new { htmlAttributes = new { @class = "form-control", Type = "hidden" } })
        @Html.EditorFor(m => m.SecurityStamp, new { htmlAttributes = new { @class = "form-control", Type = "hidden" } })
        @Html.EditorFor(m => m.age, new { htmlAttributes = new { @class = "form-control", Value = "0", Type = "hidden" } })
        @Html.EditorFor(m => m.toeic, new { htmlAttributes = new { @class = "form-control", Value = "0", Type = "hidden" } })
        @Html.EditorFor(m => m.dob, new { htmlAttributes = new { @class = "form-control", Value = "1991-01-17", Type = "hidden" } })
        @Html.EditorFor(m => m.edu, new { htmlAttributes = new { @class = "form-control", Value = "0", Type = "hidden" } })
        @Html.EditorFor(m => m.language, new { htmlAttributes = new { @class = "form-control", Value = "0", Type = "hidden" } })
        @Html.EditorFor(m => m.exp, new { htmlAttributes = new { @class = "form-control", Value = "0", Type = "hidden" } })
        @Html.EditorFor(m => m.department, new { htmlAttributes = new { @class = "form-control", Value = "0", Type = "hidden" } })
        @Html.EditorFor(m => m.location, new { htmlAttributes = new { @class = "form-control", Value = "0", Type = "hidden" } })

        <div align="center"><button type="submit" class="btn btn-dark">Submit</button></div>
    }

</div>


