


    <div class="container">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="@Url.Action("AdminIndex", "Adm")">Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("StaffAcc", "Adm")">Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("TrainerAcc", "Adm")">Trainer</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("", "")">Trainee</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Create New
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Register", "Home")">Staff</a>
                            <a class="dropdown-item" href="@Url.Action("TrainerAdd", "Trainer")">Trainer</a>
                            <a class="dropdown-item" href="@Url.Action("TraineeAdd", "Trainee")">Trainee</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("", "")">Course Category</a>
                            <a class="dropdown-item" href="@Url.Action("", "")">Course</a>
                        </div>
                    </li>
                </ul>

            </div>
            @using (Html.BeginForm("Logout", "home", FormMethod.Post, new { id = "logoutForm" }))
            {
                <form class="form-inline my-2 my-lg-0">
                    @Html.AntiForgeryToken()
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></button>

                </form>
            }
        </nav>
    </div>

