@model IEnumerable<Project.Models.Staff>
@{
    ViewBag.Title = "StaffAcc";
    Layout = "~/Views/Shared/FormHome.cshtml";
}

<div class="content">
    

    <div class="container">
        <h1 class="py-3" align="center">Staff Manager Accounts</h1>
        @if (TempData["message"] != null)
        {
            ViewBag.Message = TempData["message"];
        }
        @Html.Partial("_message")
        <table class="table table-bordered table-dark">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">@Html.DisplayNameFor(model => model.name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.username)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.password)</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(model => m.name)</th>                        
                        <td>@Html.DisplayFor(model => m.username)</td>
                        <td>@Html.DisplayFor(model => m.password)</td>
                        <td>
                            <a type="button" class="btn btn-success btn-sm"
                               href="@Url.Action("EditStaffAcc", new {id = m.id })">Edit</a>
                        </td>


                        <td>
                                <a type="button" class="btn btn-danger btn-sm"
                                   data-staff="@String.Format("{0}|{1}",
                                   m.ToSeparatedString("|"),
                                   Url.Action("DeleteStaffAcc", new {id = m.id }))"
                                   data-toggle="modal" data-target="#delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>
@section alertdialog
    {
    <div class="modal fade" tabindex="-1" id="delete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <form id="deleteForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete a Trainer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="maxwith">

                            <tr style="height: 40px">
                                <th scope="col" width="20%">Name</th>
                            </tr>
                            <tr>
                                <th><input type="text" class="form-control" id="name" /></th>
                            </tr>

                            <tr style="height: 40px">
                                <th scope="col" width="20%">User Name</th>
                            </tr>
                            <tr>
                                <th><input type="text" class="form-control" id="username" /></th>
                            </tr>

                            <tr style="height: 40px">
                                <th scope="col" width="20%">Password</th>
                            </tr>
                            <tr>
                                <th><input type="text" class="form-control" id="password" /></th>
                            </tr>

                            

                        </table>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>


}


@section scripts
    {
    <script type="text/javascript">
        $('document').ready(function () {
            $('a[data-staff]').on('click', function (evt) {
                let d = $(this).attr('data-staff').split("|");
                console.log(d);
                $('#id').attr('value', d[0]);
                $('#name').attr('value', d[1]);
                $('#username').attr('value', d[2]);
                $('#password').attr('value', d[3]);
                

                $('#deleteForm').attr('action', d[4]);
            });
        });
    </script>
}


