@model WebApplication2.Models.Person

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.name)</b></label>
    @Html.EditorFor(m => m.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's name" } })
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.UserName)</b></label>
    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's username" } })
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.password)</b></label>
    @Html.EditorFor(m => m.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's password" } })
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.age)</b></label>
    @Html.EditorFor(m => m.age, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's age" } })
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.dob)</b></label>
    @Html.EditorFor(m => m.dob, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's date of birth" } })
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.edu)</b></label>
    @Html.EditorFor(m => m.edu, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's school name" } })
</div>

@*<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.language)</b></label>
    @Html.EditorFor(m => m.language, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's main programing language" } })
</div>*@

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.language)</b></label>
    @Html.DropDownList("language", new List<SelectListItem>
    {
    new SelectListItem{Text= "C#"},
    new SelectListItem{Text= "Python"},
    new SelectListItem{Text= "HTML"},
    new SelectListItem{Text= "PHP"},
    new SelectListItem{Text= "C"},
    new SelectListItem{Text= "C++"},
    new SelectListItem{Text= "Nodejs"},
    new SelectListItem{Text="Java"}
    },
    new { @class = "custom-select d-block w-100" })
    @*@Html.EditorFor(m => m.type, new { htmlAttributes = new { @class = "form-control", placeholder = "Input type external or internal" } })*@
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.toeic)</b></label>
    @Html.EditorFor(m => m.toeic, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's score TOEIC" } })
</div>

@*<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.exp)</b></label>
    @Html.EditorFor(m => m.exp, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's experience" } })
</div>*@

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.exp)</b></label>
    @Html.DropDownList("exp", new List<SelectListItem>
    {
    new SelectListItem{Text= "1 year"},
    new SelectListItem{Text= "2 years"},
    new SelectListItem{Text= "3 years"},
    new SelectListItem{Text= "4 years"},
    new SelectListItem{Text= "5 years"},
    new SelectListItem{Text= "6 years"},
    new SelectListItem{Text= "7 years"},
    new SelectListItem{Text="More than 7 years"}
    },
    new { @class = "custom-select d-block w-100" })
    @*@Html.EditorFor(m => m.type, new { htmlAttributes = new { @class = "form-control", placeholder = "Input type external or internal" } })*@
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.department)</b></label>
    @Html.EditorFor(m => m.department, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's department in center" } })
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>@Html.LabelFor(m => m.location)</b></label>
    @Html.EditorFor(m => m.location, new { htmlAttributes = new { @class = "form-control", placeholder = "Input trainee's hometown" } })
</div>

